<p>not-found works!</p>
<ul>
    <li >
        <a routerLink="/authLazy/login">ir a login</a>   
    </li>
    <li >
        <a routerLink="/authLazy/enroll">ir a Registro</a>   
    </li>
    <li >
        <a routerLink="/pokedex/pokedex">ir a Pokedex</a>   
    </li>

    <li >
        <a routerLink="/pokedex/add">Agregar</a>   
    </li>

    <li >
        <a routerLink="/pokedex/find">Encontrar</a>   
    </li>
    <li >
        <a routerLink="/pokedex/list">ir a Listar</a>   
    </li>
    <li >
        <a routerLink="/pokedex/pokemon/1">ir a Pokemon</a>   
    </li>

    <div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-grup">
                <label for="UserName">User: </label>
                <input type="text" formControlName="username" class="form-control" autocomplete="new_userName"> 
            </div>
            <div class="form-grup">
                <label for="">Password: </label>
                <input type="password" formControlName="password" class="form-control" autocomplete="new_password">
            </div>
                <input type="text" formControlName="userName" class="form-control" autocomplete="new_userName"> 
            <button >Login</button>
        </form>
    </div>

    <button (click)="login()">Login</button>
    <button (click)="logout()">Out</button>
    <p>
        {{showSession()}}
    </p>

</ul>